{{ partial "header" . }}

<div class="fl w-100">
  {{ partial "subnav" . }}
  {{ partial "section-header" . }}
</div>

<div class="fl w-100 pa5 bg-gray">
  <small class="db mb2">Published on: {{ .Date }}</small>

  {{ if .Content }}
    <p>{{ .Content }}</p>
    {{ else }}
    <p>sorry no content here</p>
  {{ end }}

</div>

.Type = {{ .Type }}
</br>
.Site.Pages = {{ .Site.Pages }}
<br>
.Data.Pages = {{ .Data.Pages }}
<br>
.Section = {{ .Section }}
<br>
.CurrentSection = {{ .CurrentSection }}
<br>
rendered by = layouts/_default/list.html

{{ partial "footer" . }}
