/* set the header gradient background colours for the various sections of the site */

.blog-bg-color {
  background: rgba(242,117,54,1);
  background: -moz-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,117,54,1)), color-stop(100%, rgba(224,64,25,1)));
  background: -webkit-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: -o-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  background: linear-gradient(to bottom, rgba(242,117,54,1) 0%, rgba(224,64,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27536', endColorstr='#e04019', GradientType=0 );
}

.media-bg-color {
  background: rgba(120,126,176,1);
  background: -moz-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(120,126,176,1)), color-stop(100%, rgba(67,72,120,1)));
  background: -webkit-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: -o-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: -ms-linear-gradient(top, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  background: linear-gradient(to bottom, rgba(120,126,176,1) 0%, rgba(67,72,120,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787eb0', endColorstr='#434878', GradientType=0 );
}

.events-bg-color, /* keep this one here, everything else was put here temporarily */
.about-us-bg-color,
.city-rankings-bg-color,
.learn-more-tell-your-story-bg-color,
.help-faq-bg-color,
.methods-bg-color,
.maps-and-data-bg-color,
.other-studies-from-eviction-lab-bg-color,
.studies-from-outside-election-lab-bg-color,
.updates-bg-color,
.whats-new-bg-color {
  background: rgba(223,228,231,1);
  background: -moz-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,228,231,1)), color-stop(100%, rgba(177,185,190,1)));
  background: -webkit-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: -o-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: -ms-linear-gradient(top, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  background: linear-gradient(to bottom, rgba(223,228,231,1) 0%, rgba(177,185,190,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe4e7', endColorstr='#b1b9be', GradientType=0 );
}

.research-bg-color {
  background: rgba(87,190,181,1);
  background: -moz-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,190,181,1)), color-stop(100%, rgba(44,137,128,1)));
  background: -webkit-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: -o-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: -ms-linear-gradient(top, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  background: linear-gradient(to bottom, rgba(87,190,181,1) 0%, rgba(44,137,128,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57beb5', endColorstr='#2c8980', GradientType=0 );
}

.alt-rows > div:nth-of-type(odd) {
    background: #F4F7F9;
}
